<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PyTodo: A Todo App</title>
    <style>
      .hidden {
        display: none;
      }
      ul {
        list-style: none;
        padding-left: 0;
        width: 200px;
      }
      li {
        clear: both;
      }
      li button {
        -webkit-appearance: none;
        border: none;
        outline: none;
        color: red;
        float: right;
        cursor: pointer;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <h3>PyTodo</h3>
    <p>A Todo app written in Python, Flask and SQLAlchemy with Jinja templates.</p>

    <div>
      <h4>Add Todo</h4>
      <form action="/todos/create" method="POST" id="create-todo">
        <label for="description">Description:</label>
        <input type="text" name="description" placeholder="Enter description" id="description" />
        <button type="submit">Add</button>
      </form>
      <div id="error" class="hidden">Something went wrong, please try again.</div>
    </div>

    <div>
      <h4>Todos</h4>
      <ul id="todos">
        {% for todo in todos %}
        <li>
          <input
            data-id="{{ todo.id }}"
            class="check-complete"
            type="checkbox"
            name="complete"
            id="complete"
            {%if
            todo.complete
            %}
            checked
            {%endif%}
          />
          {{ todo.description }}
          <button class="delete-todo" data-id="{{ todo.id }}">&cross;</button>
        </li>
        {% endfor %}
      </ul>
    </div>

    <script>
      let deleteBtns;
      const checkboxes = document.querySelectorAll(".check-complete");
      for (let i = 0; i < checkboxes.length; i++) {
        const checkbox = checkboxes[i];
        checkbox.onchange = function(e) {
          console.log("Event: ", e);
          const todoId = e.target.dataset.id;
          const complete = e.target.checked;
          fetch("/todos/" + todoId + "/set-complete", {
            method: "POST",
            body: JSON.stringify({
              complete: complete
            }),
            headers: {
              "Content-Type": "application/json"
            }
          })
            .then(function(e) {
              document.getElementById("error").className = "hidden";
            })
            .catch(function(e) {
              console.error(e);
              document.getElementById("error").className = "";
            });
        };
      }

      document.getElementById("create-todo").onsubmit = function(e) {
        e.preventDefault();
        fetch("/todos/create", {
          method: "POST",
          body: JSON.stringify({
            description: document.getElementById("description").value
          }),
          headers: {
            "Content-Type": "application/json"
          }
        })
          .then(function(response) {
            return response.json();
          })
          .then(function(json) {
            console.log("JSON: ", json);
            const li = document.createElement('li');
          const checkbox = document.createElement('input');
          checkbox.className = 'check-complete';
          checkbox.type = 'checkbox';
          checkbox.setAttribute('data-id', json.id);
          checkbox.setAttribute('name', 'complete');
          checkbox.setAttribute('id', 'complete');
          li.appendChild(checkbox);

          const text = document.createTextNode(' ' + json.description);
          li.appendChild(text);

          const deleteBtn = document.createElement('button');
          deleteBtn.className = 'delete-todo';
          deleteBtn.setAttribute('data-id', json.id);
          deleteBtn.innerHTML = '&cross;';
          li.appendChild(deleteBtn);
          

          document.getElementById('todos').appendChild(li);
            document.getElementById("error").className = "hidden";
            document.getElementById("description").value = "";
            deleteBtns = document.querySelectorAll(".delete-todo");
          console.log("Delete btns add: ", deleteBtns);
          })
          .catch(function(e) {
            console.error(e);
            document.getElementById("error").className = "";
          });
      };

      deleteBtns = document.querySelectorAll(".delete-todo");
      console.log("Delete btns load: ", deleteBtns);
      for (let i = 0; i < deleteBtns.length; i++) {
        const deleteBtn = deleteBtns[i];
        deleteBtn.onclick = function(e) {
          console.log("Delete event: ", e);
          const todoId = e.target.dataset.id;
          fetch('/todos/'+ todoId + '/delete',{
            method: 'DELETE'
          }).then(function() {
            console.log('Parent?', e.target);
            const item = e.target.parentElement;
            item.remove();
              document.getElementById("error").className = "hidden";
            })
            .catch(function(e) {
              console.error(e);
              document.getElementById("error").className = "";
            });
        };
      }
    </script>
  </body>
</html>
